@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

html, body{
  font-family: 'Chewy', cursive;
  color: black;
}

.nav {
  display: flex;
  gap: 1em;
  justify-content: center;
  padding: 1em;
}

#root {
  background: url("Logo-2.1.png");
  background: rgb(84,58,13);
  background: radial-gradient(circle, rgba(84,58,13,1) 30%, rgba(17,255,88,1) 100%);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  min-height: 800px;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}

.nav > li > a {
  color: black;
  font-weight: bold;
}
