.nav {
  display: flex;
  gap: 1em;
  justify-content: center;
  background-color: rgb(16, 255, 136);
  padding: 1em;
}

body {
  color: rgba(82, 58, 16, 0.85);
  background-color: bisque;
}

.nav > li > a {
  color: rgba(82, 58, 16, 0.85);
  font-weight: bold;
}
